body {
  font-family: 'Varela', sans-serif !important;
  outline: 1px solid black;
  padding: 10px;
  width: 700px;
}

h1 {
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(207,226,243);
  margin: 0 0 10px;
  outline: 1px solid black;
  padding: 3px;
}

dl {
  margin: 0;
}

#portrait {
  aspect-ratio: 1/1;
  float: right;
  margin-bottom: 10px;
  outline: 1px solid black;
  width: 100px;
}

section {
  clear: both;
}

section h3 {
  background: #E1E1E1;
  font-size: 12px;
  border-top: solid thin;
  border-bottom: solid thin;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
}

section dl {
  display: inline-block;
}

section dl div {
  display: flex;
}

section dl div dt {
  font-weight: 700;
}

dd.bonuses::before {
  content: '(';
}
dd.bonuses {
  font-size: 75%;
}
dd.bonuses::after {
  content: ')';
}

#skills {
  float: right;
  font-size: 10px;
}
#skills dt {
  margin: 0;
  text-align: right;
  text-transform: uppercase;
  width: 150px;
}
#skills dd {
  margin: 0;
  text-align: center;
  width: 32px;
}
#skills dd.bonuses {
  width: auto;
}